body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e8fcf3;
  display: flex;
  justify-content: center;
}

img {
  /*CON ESTO LAS IMAGENES SE ADAPTAN A SU CONTENEDOR*/
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  margin: 0.2em 1em;
}
header {
  margin: 1em 0;
}
.header-top,
.ul-right,
.ul-left {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top {
  width: 95vw;
  height: 20vh;
  margin-bottom: 1em;
  border-bottom: black solid 1px;
  box-shadow: 0 3px 4px -4px black;
}
.ul-item,
.ul-item {
  margin: 0 1em;
  padding: 1em;
  border-radius: 10px;
  transition: 0.5s;
}
.ul-link {
  color: #15bd71;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}
.img-header {
  width: 25%;
}
.ul-item:hover {
  background-color: #15bd71;
  color: white;
}
.ul-item:hover .ul-link {
  color: white;
}

.banner {
  background-color: #f1fdf8;
}
.description-banner {
  position: absolute;
  top: 30%;
  left: 5%;
}

.title-banner,
.title-services,
.title-testifies {
  color: #15bd71;
  text-shadow: 2px 2px 4px grey;
}
.title-banner {
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px 4px #15bd71;
}
.title-banner span {
  color: #15bd71;
  text-shadow: 2px 2px 4px grey;
}
.text-banner {
  color: #15bd71;
  width: 48%;
  font-weight: bolder;
  text-shadow: 2px 2px 4px white;
  text-align: left;
  margin-bottom: 2em;
}
.btn {
  border: #15bd71 solid 2px;
  color: #15bd71;
  border-radius: 50px;
  padding: 0.3em;
  font-weight: bolder;
  transition: 0.5s;
}
.btn:hover {
  background-color: #15bd71;
  color: white;
}
.title-services,
.title-testifies {
  font-size: 30px;
  text-align: center;
}
.services {
  display: flex;
}
.service {
  margin: 0 1em;
  text-align: center;
  border: #15bd71 solid 1.3px;
  border-radius: 10px;
}
.link-service,
.link-testify {
  transition: 0.2s;
}
.link-service:hover,
.link-testify:hover {
  filter: blur(2px);
}
.img-service,
.img-testify {
  border-radius: 10px;
}
.description-service {
  padding: 0 0.4em;
}
.subtitle-service,
.subtitle-testify {
  color: #15bd71;
  text-shadow: 2px 2px 4px grey;
}

.testify {
  display: flex;
  margin: 0 1em;
  border: #15bd71 solid 1.3px;
  border-radius: 10px;
}
.image {
  width: 48%;
}
.text {
  margin: 1em;
  width: 48%;
}
